@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* From Uiverse.io by HarryHeywood04 */
/* From Uiverse.io by jaykdoe */
.bg-animation {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

body {
  background: black;
  width: 100vw;
  overflow-x: hidden;
}

@theme {
  --font-montserrat: font-family: "Montserrat", sans-serif;
}


.linear-bg:hover {
  background: linear-gradient(90deg, #0048FF 0%, #FE52FB 100%);
}

.linear-bg-noHover {
  background: linear-gradient(90deg, #0048FF 0%, #FE52FB 100%);

}

.linear-bg-noHover:hover {
  background: linear-gradient(90deg, #FE52FB 0%, #0048FF 100%);

}

.nav-links:hover {
  background: linear-gradient(90deg, #0048FF 0%, #FE52FB 100%);
}

.nav-links:hover .link-icons {
  color: #DEF7FF;
}

.navber-hover-effect {
  @apply flex items-center gap-2 px-3 text-[14px] font-medium md:text-[15px] rounded-full border border-[#b5b5b54b] hover:border-none cursor-pointer py-1.5
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.detailDiv {
  background: linear-gradient(90deg, #0048ffa1 0%, #fe52fba1 100%);
  transform: translateY(100%);
}

.movieDetail:hover .detailDiv {
  transform: translateY(0%);
}

/* hover effects
.customBtnHoverEffect {
  position: relative;
  z-index: 9;
  overflow-x: hidden;
}

.customBtnHoverEffect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(66, 65, 65);
  transition: all 0.4s;
  z-index: -9;
}

.customBtnHoverEffect:hover::before {
  height: 100%;
}

/* carousel arrow hover effect */

/* .carouselArrowEffect {
  position: relative;
  z-index: 9;
  overflow-x: hidden;
}
.carouselArrowEffect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #e50000c5;
  transition: all 0.4s;
  z-index: -9;
}

.carouselArrowEffect:hover::before {
  height: 100%;
} */

#main_page::-webkit-scrollbar {
  display: none;
}

